/* =============== GLOBAL STYLES =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background:linear-gradient(#daf5d5,#79eea8) ;
    color: #222;
}

header {
            position: relative;
            z-index: 5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
        }
nav {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 50px;
}

nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #000000;
            font-size: 16px;
        }

.logo {
            font-family: 'Calibri', sans-serif;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 42px;
            font-weight: 1000;
            color: #1dcc63;
            text-decoration: none;
        }




.btn {
            padding: 10px 20px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 15px;
        }


.sign-in {
            background:#2ecc71;
            border: 1px solid #fff;
            color: #fff;
        }

    .get-started {
            background: #2ecc71;
            border: 1px solid #fff;
            color: #fff;
        }
/* =============== HERO SECTION =============== */
.hero {
    text-align: center;
    padding: 60px 20px 30px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 8px;
}

.highlight {
    color: #2e8f3f;
}

.search-box {
    margin-top: 25px;
}

.search-box input {
    width: 600px;
    max-width: 90%;
    padding: 14px 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
}

/* =============== FILTER SECTION =============== */
.filter-section {
    padding: 30px 40px;
}

.filter-buttons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn {
    padding: 10px 18px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 25px;
    cursor: pointer;
}

.filter-btn.active,
.filter-btn:hover {
    background: #2e8f3f;
    color: white;
}

/* =============== DESTINATION CARDS =============== */
.destinations-grid {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    
}

.card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
     width: 450px;   /* fixed width */
    height: 300px;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    padding: 15px 15px 5px;
}

.card .province {
    padding: 0 15px 15px;
    color: #555;
}
