       html {
       scroll-behavior: smooth;
    }

       
       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        .body-image {
            background: url('src/home_image.jpg') center/cover no-repeat;
            height: 100vh;
            width: 100%;
            position: relative;
            color: #fff;
        }

        /* Overlay */
        body::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.35);
        }

        header {
            position: relative;
            z-index: 5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
        }

        .logo {
            font-family: 'Calibri', sans-serif;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 42px;
            font-weight: 1000;
            color: #1dcc63;
        }

        nav {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 50px;
}

        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #000000;
            font-size: 16px;
        }

        .btn {
            padding: 10px 20px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 15px;
        }

        .sign-in {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }

        .get-started {
            background: #2ecc71;
            color: #fff;
        }

        .hero {
            position: relative;
            z-index: 5;
            height: calc(100vh - 100px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 20px;
        }

        .hero h1 {
            font-size: 58px;
            font-weight: 700;
            line-height: 1.2;
            max-width: 900px;
        }

        .highlight {
            color: #2ecc71;
        }

        .hero p {
            margin-top: 15px;
            font-size: 20px;
            max-width: 850px;
            color: #030101;
        }

        .hero-buttons {
            margin-top: 35px;
            display: flex;
            gap: 20px;
        }

        .primary {
            background: #27ae60;
            color: #fff;
        }

        .secondary {
            background: #ffffffdd;
            color: #333;
        }

        .btn:hover {
            opacity: 0.85;
        }

        .section-container {
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.title span {
    color: #2ab56f;
}

.subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: rgba(238, 237, 228, 0.951);
    border-radius: 16px;
    padding: 30px 25px;
    text-align: left;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.icon {
    font-size: 40px;
    background: linear-gradient(135deg, #18d47d, #2ab56f);
    color: white;
    padding: 12px;
    border-radius: 12px;
}

.card h2 {
    margin-top: 20px;
    font-size: 22px;
    color: #111;
}

.card p {
    margin-top: 10px;
    color: #555;
    line-height: 1.6;
}

.help-container {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}


.cta-section {
    text-align: center;
    padding: 80px 20px;
    
}

.cta-section h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cta-btn {
    background: linear-gradient(90deg, #00b3c6, #25d366);
    color: white;
    padding: 14px 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.cta-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}


.contact-section {
    padding: 50px;
    background: linear-gradient(to right, #297e34, #8fe388);
    color: white;
}

.contact-section h2 {
    letter-spacing: 5px;
    font-size: 32px;
    margin-bottom: 40px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    max-width: 750px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.icon-circle {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    color: #2e8f3f;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}


.icon-circle:hover {
    background: #62db78;
    color: white;
    transform: scale(1.2) rotate(10deg);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-item p {
    margin: 3px 0;
}

/* Responsive */
@media (max-width: 600px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }
}


